NEXT_PUBLIC_API_URL=http://localhost:8000
N8N_GENERATE_REQUIREMENT_WEBHOOK=https://psicotips.app.n8n.cloud/webhook/generar-requerimiento
N8N_RAG_MD_FORMATTER_WEBHOOK=https://TU-N8N/webhook/rag-md-formatter
N8N_PSICOTIPS_CHAT_WEBHOOK=https://psicotips.app.n8n.cloud/webhook/67795977-feff-4b4b-9c37-bd959792b5d5/chat
